# Apple Stock

### Introduction:

We are going to use Apple's stock price.


### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

# visualization
import matplotlib.pyplot as plt

%matplotlib inline

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Time_Series/Apple_Stock/appl_1980_2014.csv)

### Step 3. Assign it to a variable apple

In [11]:
url = 'C:\Users\Karthik\Desktop\GitHub\Pandas Exercise\Data\AppleData.csv'
apple = pd.read_csv(url)

apple.head()

         Date   Open   High    Low  Close    Volume  Adj Close
0  2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1  2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2  2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3  2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4  2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

### Step 4.  Check out the type of the columns

In [12]:
apple.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object

### Step 5. Transform the Date column as a datetime type

In [13]:
apple.Date=pd.to_datetime(apple.Date)
apple.Date.head()

0   2014-07-08
1   2014-07-07
2   2014-07-03
3   2014-07-02
4   2014-07-01
Name: Date, dtype: datetime64[ns]

### Step 6.  Set the date as the index

In [14]:
apple.set_index('Date',drop=True,inplace=True)

In [15]:
apple.head()

             Open   High    Low  Close    Volume  Adj Close
Date
2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

### Step 7.  Is there any duplicate dates?

In [23]:

apple.shape[0]-apple.index.value_counts().sort_index(ascending=False).sum()
#or
apple.index.is_unique

True

### Step 8.  Ops...it seems the index is from the most recent date. Make the first entry the oldest date.

In [24]:
apple.sort_index(ascending=True).head()

             Open   High    Low  Close     Volume  Adj Close
Date
1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45
1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41

### Step 9. Get the last business day of each month

In [25]:
appleMonth=apple.resample('BM').mean()
appleMonth

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
1980-12-31,30.481538,30.567692,30.443077,30.443077,25862523,0.473077
1981-01-30,31.754762,31.826667,31.654762,31.654762,7249866,0.493810
1981-02-27,26.480000,26.572105,26.407895,26.407895,4231831,0.411053
1981-03-31,24.937727,25.016818,24.836364,24.836364,7962690,0.387727
1981-04-30,27.286667,27.368095,27.227143,27.227143,6392000,0.423333
1981-05-29,29.052000,29.188000,28.995000,28.995000,7380240,0.452500
1981-06-30,30.801818,30.876364,30.703636,30.703636,10801890,0.477727
1981-07-31,24.436364,24.531818,24.374545,24.374545,7584436,0.379545
1981-08-31,22.336500,22.386500,22.218500,22.218500,6857760,0.345000
1981-09-30,18.221429,18.273810,18.131429,18.131429,8853333,0.283333
1981-10-30,18.603182,18.722273,18.569091,18.569091,10274727,0.289545
1981-11-30,18.697500,18.774000,18.642500,18.642500,7333480,0.289500
1981-12-31,20.220909,20.317727,20.164545,20.164545,11785454,0.313636
1982-01-29,19.938000,20.019000,19.850500,19.850500,10802680,0.309000
1982-02-26,18.980000,19.052105,18.914211,18.914211,8005347,0.294737
1982-03-31,16.657391,16.722174,16.592609,16.592609,13039965,0.259130
1982-04-30,16.356667,16.428095,16.291429,16.291429,20828533,0.254762
1982-05-31,14.931500,14.993000,14.856500,14.856500,15548680,0.231500
1982-06-30,13.308182,13.386364,13.240000,13.240000,9132327,0.205455
1982-07-30,12.881429,12.970476,12.839524,12.839524,16883466,0.200000
1982-08-31,14.529091,14.625455,14.495000,14.495000,24500000,0.225000
1982-09-30,18.236190,18.325238,18.182857,18.182857,19804266,0.281905
1982-10-29,22.927619,23.672857,22.583810,23.254762,44994133,0.362857
1982-11-30,29.898095,30.988095,29.279048,30.183810,37527466,0.470476
1982-12-31,31.022727,31.737727,30.368636,31.000000,30977163,0.484091
1983-01-31,33.154762,34.415714,32.542381,33.637143,54512266,0.522857
1983-02-28,44.566316,45.566842,43.703684,44.763684,41490694,0.697895
1983-03-31,43.555217,44.218696,42.651739,43.425652,28786191,0.675652
1983-04-29,45.387000,46.518000,44.719000,45.756000,41735400,0.712500
1983-05-31,54.369048,55.368571,53.494762,54.720476,24814400,0.852857
...,...,...,...,...,...,...
2012-02-29,494.803000,500.849000,491.437500,497.571000,142106930,67.940000
2012-03-30,576.858182,582.064545,570.245909,577.507727,177094750,78.855455
2012-04-30,609.607500,615.487500,598.650000,606.003000,194987380,82.746500
2012-05-31,565.785000,572.141364,558.397273,564.673182,126208472,77.102727
2012-06-29,574.660952,578.889048,569.213333,574.562381,93521733,78.454286
2012-07-31,599.610000,604.920952,594.680476,601.068095,106067266,82.072857
2012-08-31,641.527826,646.655217,637.138261,642.696087,89958765,88.040000
2012-09-28,682.118421,687.007895,676.095263,681.568421,121039542,93.464211
2012-10-31,638.667143,643.650476,628.213810,634.714286,144557500,87.040476
2012-11-30,567.038571,572.368095,557.075714,564.345714,153926800,77.673333
2012-12-31,533.336000,539.715000,524.967000,532.055000,151659410,73.294500
2013-01-31,500.083333,504.407619,492.970000,497.822381,156231233,68.580000
2013-02-28,458.503684,463.231053,452.106316,456.808947,122947815,63.218421
2013-03-29,442.011500,446.803500,437.338000,441.841000,114710960,61.221000
2013-04-30,419.766818,425.553182,414.722273,419.765000,124585109,58.162727
2013-05-31,446.400909,451.658182,441.495455,446.452727,107358300,62.157727
2013-06-28,427.962000,431.270500,422.053000,425.538000,87731700,59.353500
2013-07-31,428.257273,432.680455,424.906818,429.157273,74296759,59.858182
2013-08-30,484.059545,489.319545,480.346818,484.843636,91572027,67.974545
2013-09-30,482.772500,485.907500,476.861500,480.184500,107886765,67.419500
2013-10-31,504.148696,508.726957,499.542609,504.744783,85192739,70.865217
2013-11-29,523.218000,527.830000,520.223000,524.616500,65314445,74.021000
2013-12-31,560.648095,564.355238,556.405714,559.657619,84016633,79.034762
2014-01-31,538.100952,542.844762,533.065714,537.445714,104356600,75.897143
2014-02-28,525.721053,530.773684,522.126316,526.580000,77373247,74.741053
2014-03-31,533.593333,536.453810,530.070952,533.214286,59544033,75.750000
2014-04-30,540.081905,544.349048,536.262381,541.074286,76607866,76.867143
2014-05-30,601.301905,606.372857,598.332857,603.195714,68281766,86.058571
2014-06-30,222.360000,224.084286,220.735714,222.658095,57455061,91.885714
2014-07-31,94.294000,95.004000,93.488000,94.470000,42183660,94.470000

### Step 10.  What is the difference in days between the first day and the oldest

In [34]:
(apple.index.max()-apple.index.min()).days

12261L

### Step 11.  How many months in the data we have?

In [35]:
apple_months=apple.resample('BM').mean()
len(apple_months)

404

### Step 12. Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches

In [ ]:
appl_open=apple['Adj Close'].plot(title='Apple Stock')
fig=appl_open.get_figure()
fig.set_size_inches(13.5, 9)

### BONUS: Create your own question and answer it.